<ng-template #createLobbyDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Create new lobby</nb-card-header>
    <nb-card-body>
      <input nbInput placeholder="Lobby name" style="width: 100%;" [(ngModel)]="lobbyName" />
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()" style="margin-right:10px;">Close</button>
      <button nbButton (click)="submitLobby()" status="success">Create</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<nb-layout>
  <nb-layout-header fixed>
    <h1>Kahoot</h1>
    <span style="flex: 1 auto"></span>
    <button nbButton>Create Lobby</button>
    <button nbButton status="normal" *ngIf="usr!=null" style="margin-left: 20px;">
      <img [src]="usr.photoURL" style="width: 30px;border-radius: 50%;margin-right: 5px;">
      <span>
        {{usr.displayName}}
      </span>
    </button>
  </nb-layout-header>
  <nb-sidebar>
    <nb-list>
      <nb-list-item *ngFor="let lobby of lobbies">
        <button nbButton status="normal" style="width: 100%;" (click)="openLobby(lobby.id)">{{lobby.name}} -
          {{lobby.id}}</button>
      </nb-list-item>
      <nb-list-item>
        <button nbButton status="primary" style="width: 100%;" (click)="createNewLobby(createLobbyDialog)">+ Add
          new</button>
      </nb-list-item>
    </nb-list>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
